
.p-select-overlay{
  border-radius: 10px !important;
}
.p-select-option-selected{
  background: linear-gradient(15deg, #ff9532 0%, #ff8a1c 9.96%, #ff5b21 51.66%, #ff5a24 86%)  !important;
  color: white  !important;
  font-family: "Inter Medium", sans-serif !important;
  font-weight: 600 !important;
  padding: 8px 12px !important;
}
.p-select-option{

  border-radius: 10px !important;
}
.p-select-option:not(:first-child){
  border-radius:  0 0 10px 10px !important;
}
.p-select-option.p-focus:not(.p-select-option-selected){
  background: #1A1A1A  !important;
  color: white !important;
}
.p-select-option.p-focus:not(.p-select-option-selected):hover{
  background: #333333  !important;
  color: white !important;
}

.p-select-list{
  gap: 3px !important;
  padding: 3px !important;

}


