@import "tailwindcss";
@import "tailwindcss-primeui";
@import 'primeicons/primeicons.css';
@import './_scrollbar.css';
@import './_error-pages.css';
@import './_confirm-dialog.css';
@import "./_progress-bar.css";
@import "./_custom-button.css";
@import "./_select.css";
@import "./_table.css";
@tailwind utilities;



:root {
  --toast-text: #fff;
}

.p-toast .p-toast-message .p-toast-detail {
  color: var(--toast-text);
}

.p-toast-message-error{
  border-radius: 18px !important;
}
.p-toast-message-info{
  border-radius: 18px !important;
}
.p-toast-message-success{
  border-radius: 18px !important;
}
button {
  cursor: pointer;

}

@layer utilities {
  .inter-extra-bold {
    font-family: 'Inter ExtraBold', 'Inter', sans-serif;
    font-weight: 800;
  }

  .inter-medium {
    font-family: 'Inter Medium', 'Inter', sans-serif;
    font-weight: 600;
  }

  .inter-regular {
    font-family: 'Inter Regular', 'Inter', sans-serif;
    font-weight: 500;
  }
}

