@import "tailwindcss";
@import 'primeicons/primeicons.css';
@import "./_scrollbar.css";
@import "./_error-pages.css";
:root {
  --toast-text: #fff;
}

.p-toast .p-toast-message .p-toast-detail {
  color: var(--toast-text) ;
}
button{
  cursor: pointer;

}

